.carousel .carousel-control {
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 32px;
  line-height: 999px;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;

}
.carousel .carousel-previous.hover,
.carousel .carousel-next.hover {
  background-position: -32px 0;
}
.carousel .carousel-previous.disabled,
.carousel .carousel-next.disabled {
  background-position: -96px 0;
}

.carousel .carousel-previous{
  background: transparent url("carousel/img/prev-horizontal.png") no-repeat top left;
  text-indent: -32500px;
}

.carousel .carousel-next {
  background: transparent url("carousel/img/next-horizontal.png") no-repeat top left;
  text-indent: -32500px;
}
.carousel .carousel-wrap,
.carousel .view-box {
  float: left;
  margin: 0;
  padding: 0;
}

.carousel .view-box .slide-view {
  float: left;
  list-style: none;
  background: none;
  margin: 0;
  padding: 0;
}
.carousel .center-wrap {
  clear: both;
  margin-left: 32px;
}
.carousel .center-wrap .carousel-pagination {

}
.carousel .center-wrap .carousel-pagination p a {
  border: 1px solid #CCC;
  cursor: pointer;
  display: block;
  float: left;
  line-height: 16px;
  margin: 4px 2px;
  padding: 2px;
  text-align: center;
  width: 16px;
}
.carousel .center-wrap .carousel-pagination p a.active {
  background-color: #CCC;
}
.carousel .center-wrap .carousel-pagination p a span {
  display: block;
  margin: 0;
  padding: 0;
}
